USE [master]
GO
/****** Object:  Database [HTTTQL]    Script Date: 7/24/2017 2:34:18 PM ******/
CREATE DATABASE [HTTTQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HTTTQL', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\HTTTQL.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HTTTQL_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\HTTTQL_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HTTTQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HTTTQL]
GO
/****** Object:  StoredProcedure [dbo].[addDeThi]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addDeThi] @MAMON INT, @MACHUONG INT, @SL INT, @MADOKHO INT
 AS
 BEGIN
	declare @sqlcommand nvarchar(95)
	set @sqlcommand = 'select top '+CAST(@SL as nvarchar(2))+' * from cau_hoi where mamon='+cast(@MAMON as varchar(10))+' and machuong='+cast(@MACHUONG as varchar(10))+'and madokho='+cast(@MADOKHO as varchar(10))+' order by NEWID()'
	EXECUTE sp_executesql @sqlcommand
 END




GO
/****** Object:  StoredProcedure [dbo].[box_msg]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[box_msg] 
@code nvarchar(max) ,
@room_id   nvarchar(max) ,
@top int  =null 
AS
SET NOCOUNT ON;
IF @top is null 
 set @top = 5 
 IF EXISTS (SELECT *  FROM chat c WHERE c.LAST_USER LIKE  @code )
 BEGIN
   UPDATE chat set  COUNT_MSG = 0 WHERE (code = @code  AND room_id = @room_id AND LAST_USER = @code )OR (code = @room_id AND room_id = @code AND LAST_USER = @code)
 END
SELECT  top (@top)  d.body , d.time_on  , d.url  , d.client_id FROM chat c  JOIN chatdetails d ON c.chat_id = d.chat_id  
    where c.code = @code and c.room_id = @room_id OR c.code = @room_id AND c.room_id = @code ORDER BY d.time_on DESC



GO
/****** Object:  StoredProcedure [dbo].[danhsachgiangvien]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[danhsachgiangvien] 
@magv int  
AS
DECLARE @makhoa int = ( SELECT k.MAKHOA FROM GIANG_VIEN GV JOIN BO_MON BM ON GV.MABOMON = BM.MABOMON  JOIN KHOA K  ON K.MAKHOA = BM.MAKHOA  WHERE GV.MAGV = @magv )
IF @makhoa is nulL
 RAISERROR('Mã Khoa không tồn tại',16,1)
 ELSE
 SELECT  GV.MAGV , GV.HOGV , GV.TENGV , GV.ANHGV , GV.GIOITINH , GV.EMAIL  FROM KHOA K JOIN BO_MON BM on k.MAKHOA  = BM.MAKHOA JOIN GIANG_VIEN GV on BM.MABOMON = GV.MABOMON  WHERE K.MAKHOA = @makhoa 


GO
/****** Object:  StoredProcedure [dbo].[kiemtratinnhan]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	CREATE proc  [dbo].[kiemtratinnhan] 
	@code  nvarchar(max) 
	AS 
	SELECT  * from  chat c where c.COUNT_MSG > 0 AND c.LAST_USER  like @code    	




GO
/****** Object:  StoredProcedure [dbo].[p_them_cauhoi_congviec2]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[p_them_cauhoi_congviec2] @maCV int,@chuong int ,@soluong int
as
begin
INSERT INTO CT_TAO_CAU_HOI(MACV,MACHUONG,SL) VALUES (@maCV,@chuong,@soluong)
end





GO
/****** Object:  StoredProcedure [dbo].[p_themCongViec_CAUHOI_CONG_VIEC]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[p_themCongViec_CAUHOI_CONG_VIEC] @MAMON int,@MAGV int ,@MALOAICV int,@TGBATDAU datetime,
@TGKETTHUC datetime,@NOIDUNGCV ntext
AS 

BEGIN

SET NOCOUNT ON
BEGIN TRY
DECLARE @result int;

INSERT INTO CONG_VIEC(MAMON,MAGV,MALOAICV,TGBABTDAU,TGKETTHUC,NOIDUNGCV,TRANGTHAI)
	VALUES(@MAMON,@MAGV,@MALOAICV,@TGBATDAU,@TGKETTHUC,@NOIDUNGCV,0);
	--INSERT INTO CT_TAO_CAU_HOI VALUES (IDENT_CURRENT('CONG_VIEC'),@MACHUONG,@SOLUONGCAUHOITOIDA);
		SET @result =IDENT_CURRENT('CONG_VIEC');
		SELECT @result as result;
END TRY

BEGIN CATCH
	RAISERROR('CẬP NHẬT THẤT BẠI',16,1);
END CATCH



END





GO
/****** Object:  StoredProcedure [dbo].[p_themCongViec_CONG_VIEC]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[p_themCongViec_CONG_VIEC] @MAMON int,@MAGV int ,@MALOAICV int,@TGBATDAU datetime,
@TGKETTHUC datetime,@NOIDUNGCV ntext
AS 
BEGIN
	BEGIN TRY	
	INSERT INTO CONG_VIEC(MAMON,MAGV,MALOAICV,TGBABTDAU,TGKETTHUC,NOIDUNGCV,TRANGTHAI)
	VALUES(@MAMON,@MAGV,@MALOAICV,@TGBATDAU,@TGKETTHUC,@NOIDUNGCV,0);
	UPDATE MON_HOC SET TRANGTHAI ='FALSE' WHERE MAMON=@MAMON;

	END TRY

	BEGIN CATCH
	RAISERROR (N'THÊM THẤT BẠI',16,1);
	END CATCH
END







GO
/****** Object:  StoredProcedure [dbo].[p_themCongViec2_CONG_VIEC]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[p_themCongViec2_CONG_VIEC] @MAMON int,@MAGV int ,@MALOAICV int,@TGBATDAU datetime,
@TGKETTHUC datetime,@NOIDUNGCV ntext,@SOlUONGDETOIDA int
AS 
BEGIN
	BEGIN TRY
		
	INSERT INTO CONG_VIEC(MAMON,MAGV,MALOAICV,TGBABTDAU,TGKETTHUC,NOIDUNGCV,TRANGTHAI)
	VALUES(@MAMON,@MAGV,@MALOAICV,@TGBATDAU,@TGKETTHUC,@NOIDUNGCV,0);

	UPDATE CAU_TRUC_DE_THI SET TRANGTHAI =0,SLDETOIDA=@SOlUONGDETOIDA WHERE	MAMON=@MAMON
	
	END TRY

	BEGIN CATCH
	
	RAISERROR (N'THÊM THẤT BẠI',16,1);
	END CATCH
END 






GO
/****** Object:  StoredProcedure [dbo].[proc_add_cauhoi]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_add_cauhoi] 
  @noidung ntext ,
  @machuong int ,
  @mamon int ,
  @madokho int ,
  @magv int ,
  @out  int  OUTPUT
  AS
   set @out  = 0 ;
  BEGIN 
  IF EXISTS (SELECT * FROM CHUONG_MUC CM WHERE CM.MACHUONG = @machuong AND CM.MAMON =@mamon )
       AND EXISTS (SELECT * FROM GIANG_VIEN GV  WHERE GV.MAGV = @magv)
	    AND EXISTS (SELECT * FROM DO_KHO DK WHERE DK.MADOKHO = @madokho)
		  BEGIN 
		  BEGIN TRANSACTION;  
		  INSERT INTO CAU_HOI VALUES(@noidung , @machuong , @mamon, @madokho , @magv ,0)
		  set @out =  SCOPE_IDENTITY()
		  COMMIT
		   END
	END   





GO
/****** Object:  StoredProcedure [dbo].[proc_add_dapan]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[proc_add_dapan] 
	@MACH INT ,
    @NOIDUNG ntext ,
	@DAPANDUNG BIT 
	AS 
	SET NOCOUNT ON
	DECLARE @res bit 
	BEGIN 
	 set @res =   0 
	  IF  EXISTS( SELECT * FROM CAU_HOI  DN WHERE  DN.MACH = @MACH )
	  BEGIN
	   INSERT INTO DAP_AN  VALUES(@MACH ,  @NOIDUNG , @DAPANDUNG )
	   set @res = 1 
	    END
	   ELSE 
	   PRINT N'MÃ CÂU HỎI KHÔNG TỒN TẠI'
	   SELECT @res
	  END






GO
/****** Object:  StoredProcedure [dbo].[proc_danhsachcongviec_cuabonom]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_danhsachcongviec_cuabonom] 
   @magvTruongBmon int  
   AS 
    SELECT CV.MACV  , MH.TENMON , GV.TENGV , GV.ANHGV , l.TENLOAICV  ,CV.TGBABTDAU ,CV.TGKETTHUC ,CV.TRANGTHAI ,CV.NOIDUNGCV ,MH.TRANGTHAI ,l.MALOAICV ,( SELECT CT.TRANGTHAI FROM CAU_TRUC_DE_THI CT where  CT.MAMON = CV.MAMON) AS TRANGTHAICTdt, CV.MAMON  FROM CONG_VIEC  CV JOIN GIANG_VIEN GV ON GV.MAGV = CV.MAGV JOIN MON_HOC MH on CV.MAMON = MH.MAMON  JOIN LOAI_CONG_VIEC L ON L.MALOAICV = CV.MALOAICV WHERE  CV.MAMON IN ( SELECT MH.MAMON  FROM   BO_MON B JOIN MON_HOC MH on B.MABOMON = MH.MABOMON  WHERE B.MABOMON in 
	(SELECT BM.MABOMON FROM BO_MON BM where  BM.MAGV = @magvTruongBmon )
	) 

GO
/****** Object:  StoredProcedure [dbo].[proc_danhsachcongviec_cuakhoa]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_danhsachcongviec_cuakhoa] 
   @magvTruongKhoa int  
   AS 
    SELECT CV.MACV  , MH.TENMON , GV.TENGV , GV.ANHGV , l.TENLOAICV  ,CV.TGBABTDAU ,CV.TGKETTHUC ,CV.TRANGTHAI ,CV.NOIDUNGCV , MH.TRANGTHAI ,l.MALOAICV
	,( SELECT CT.TRANGTHAI FROM CAU_TRUC_DE_THI CT where  CT.MAMON = CV.MAMON) AS TRANGTHAICTdt, CV.MAMON  FROM  CONG_VIEC  CV JOIN GIANG_VIEN GV ON GV.MAGV = CV.MAGV JOIN MON_HOC MH  on CV.MAMON = MH.MAMON JOIN LOAI_CONG_VIEC l ON CV.MALOAICV = l.MALOAICV  WHERE  CV.MAMON IN ( SELECT MH.MAMON  FROM KHOA  K JOIN  BO_MON B on k.MAKHOA = b.MAKHOA JOIN MON_HOC MH on B.MABOMON = MH.MABOMON  WHERE K.MAKHOA IN
	(SELECT k.MAKHOA FROM KHOA k where  k.MAGV = @magvTruongKhoa )
	) 

GO
/****** Object:  StoredProcedure [dbo].[proc_DsChuongByMAMH]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_DsChuongByMAMH] 
@MAMH  int 
AS
SELECT * FROM MON_HOC MH INNER JOIN CHUONG_MUC CH ON MH.MAMON = CH.MAMON  WHERE MH.MAMON = @MAMH





GO
/****** Object:  StoredProcedure [dbo].[proc_DSMonHocByMAGV]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_DSMonHocByMAGV] 
  @MAGV int  
  AS
  BEGIN
 SELECT MH.MAMON  ,MH.TENMON , MH.MABOMON  FROM GIANG_VIEN GV JOIN QUAN_LY_MH QL ON GV.MAGV = QL.MAGV JOIN MON_HOC MH ON MH.MAMON = QL.MAMON   WHERE GV.MAGV = @MAGV 
  END





GO
/****** Object:  StoredProcedure [dbo].[proc_login_GIANGVIEN_ResSmg]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[proc_login_GIANGVIEN_ResSmg] 
	 @email nvarchar(50) ,
	 @pass nvarchar(40) 
   AS
    BEGIN
	 DECLARE @res nvarchar(255) ; 
	  if EXISTS (SELECT * FROM GIANG_VIEN GV  where GV.EMAIL = @email )
	     BEGIN 
			  if EXISTS ( SELECT * FROM GIANG_VIEN GV where GV.email = @email AND  GV.MATKHAU  = @pass)
			   set @res = ( SELECT G.MAGV FROM GIANG_VIEN G where G.EMAIL = @email AND  G.MATKHAU = @pass) 
			   ELSE
			   set @res = N'Mật khẩu không đúng '
		END
		ELSE
		set @res = N' Tài khoản không tồn tại ' 
     SELECT @res 
	END





GO
/****** Object:  StoredProcedure [dbo].[proc_thongkecauhoi_bomon]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_thongkecauhoi_bomon] 
@makhoa INT ,
@mabomon INT = NULL
AS
begin 
select K.TENKHOA , BM.TENBOMON , MH.TENMON , sum(case WHEN DK.MADOKHO = 1 THEN 1 ELSE 0 END )  AS CAUKHO ,
                                           sum(case when DK.MADOKHO =2 then 1 else 0 end) AS CAUDE ,
										    COUNT(CH.MACH) AS  Tong
											 FROM  KHOA K JOIN BO_MON BM ON K.MAKHOA =  BM.MAKHOA 
											              JOIN MON_HOC MH ON BM.MABOMON = mh.MABOMON 
														  JOIN CAU_HOI CH ON MH.MAMON = CH.MAMON 
														  JOIN DO_KHO DK ON CH.MADOKHO = DK.MADOKHO WHERE CH.TRANGTHAI = 1
														  GROUP BY K.MAKHOA , K.TENKHOA ,BM.MABOMON ,BM.TENBOMON ,MH.MAMON , MH.TENMON
							                            HAVING @makhoa = K.MAKHOA AND (@mabomon is null or @mabomon=  BM.MABOMON )
							END



GO
/****** Object:  StoredProcedure [dbo].[PROCEDURE_INSERTORUPDATE_CAUTRUCDETHI]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[PROCEDURE_INSERTORUPDATE_CAUTRUCDETHI](@MACTDT INT, @MACHUONG INT, @MADOKHO INT, @SLCAUHOI SMALLINT, @TONGDIEM FLOAT) 
 AS
 BEGIN
 IF EXISTS (SELECT * FROM CHI_TIET_CTDT WHERE MACTDT= @MACTDT AND MACHUONG=@MACHUONG AND MADOKHO=@MADOKHO)
	BEGIN
		 IF (SELECT COUNT(*) FROM CAU_HOI WHERE MACHUONG=@MACHUONG AND MADOKHO=@MADOKHO )>= @SLCAUHOI
			BEGIN
				UPDATE CHI_TIET_CTDT SET SLCAUHOI=@SLCAUHOI, TONGDIEM=@TONGDIEM WHERE MACTDT=@MACTDT AND MACHUONG=@MACHUONG AND MADOKHO=@MADOKHO;
			END
		 ELSE
			BEGIN
				RAISERROR(N'SỐ LƯỢNG QUÁ MỨC CHO PHÉP!',16,1);
			END
	END
 ELSE
	BEGIN
		IF (SELECT COUNT(*) FROM CAU_HOI WHERE MACHUONG=@MACHUONG AND MADOKHO=@MADOKHO )>= @SLCAUHOI
			BEGIN
				INSERT INTO CHI_TIET_CTDT VALUES(@MACTDT, @MACHUONG, @MADOKHO, @SLCAUHOI, @TONGDIEM);
			END
		 ELSE
			BEGIN
				RAISERROR(N'SỐ LƯỢNG QUÁ MỨC CHO PHÉP!',16,1);
			END
	END
 END	





GO
/****** Object:  StoredProcedure [dbo].[themnoidung]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[themnoidung]
 @code nvarchar(max) ,
 @room_id  nvarchar(max) ,
 @body ntext , 
 @url  nvarchar(255) 
 AS
 DECLARE @chat_id int  , @client nvarchar(255) , @date datetime = getdate() 
 IF NOT EXISTS (SELECT * FROM  chat c where c.code = @code  AND c.room_id = @room_id OR c.code = @room_id AND c.room_id = @code )
   BEGIN 
   begin tran 
     INSERT INTO chat(code , room_id , COUNT_MSG , LAST_USER) values (@code , @room_id , 1 ,@room_id ) 
	   set @chat_id  =  SCOPE_IDENTITY()  
	    commit tran
		end
    ELSE  
	BEGIN 
	DECLARE @count  int = (select c.COUNT_MSG from chat c where  c.code = @code  AND c.room_id = @room_id OR c.code = @room_id AND c.room_id = @code)
	UPDATE chat set COUNT_MSG = @count + 1  ,  LAST_USER = @room_id where  code = @code  AND room_id = @room_id OR code = @room_id AND room_id = @code
	set @chat_id  = ( SELECT c.chat_id FROM  chat c where c.code = @code  AND c.room_id = @room_id OR c.code = @room_id AND c.room_id = @code) 
	END 
	BEGIN 
	INSERT chatdetails values (@body , @date , @chat_id  ,  @url , @room_id)   
	end




GO
/****** Object:  UserDefinedFunction [dbo].[F_GETLISTROLE]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- thang
CREATE FUNCTION  [dbo].[F_GETLISTROLE]  ( @MAGV INT)  RETURNS  @RES  TABLE
(
	ROLE_NAME INT NOT NULL,
	DESCRIBE NVARCHAR(100) NOT NULL
)
AS 
BEGIN
	 IF EXISTS(  SELECT * FROM QUAN_LY_MH WHERE MAGV=@MAGV)
		INSERT INTO @RES(ROLE_NAME,DESCRIBE) VALUES(3,N'Giáo Viên')
	 IF EXISTS( SELECT * FROM  BO_MON WHERE  MAGV =@MAGV)
		INSERT INTO  @RES(ROLE_NAME,DESCRIBE)  VALUES(2,N'Trưởng Bộ Môn');
	 IF EXISTS(SELECT * FROM KHOA WHERE MAGV=@MAGV)
		INSERT INTO @RES(ROLE_NAME,DESCRIBE) VALUES(1,N'Trưởng Khoa');
	 RETURN;
END




GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_CHECK_TIENDOCONGVIEC]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION  [dbo].[FUNC_CHECK_TIENDOCONGVIEC] (@macv int)  RETURNS bit
as
begin
	declare @maloaivc int, @mamon  int,@mactdt  int ;
	set @maloaivc = (select MALOAICV from CONG_VIEC where MACV= @macv);
	set @mamon =(select MAMON from CONG_VIEC where macv=@macv);/*má sao chuối quá v bây*/
	set @mactdt =(select MACTDT from CAU_TRUC_DE_THI where MAMON=@mamon);
	if @maloaivc=1/*tạo đề cương*/
	begin
		RETURN (SELECT TRANGTHAI FROM MON_HOC WHERE MAMON=@mamon);
	end
	else if @maloaivc=3 /*tạo cấu trúc đề thi*/
	begin
		RETURN (select TRANGTHAI FROM CAU_TRUC_DE_THI where MACTDT=@mactdt);
	end
	return 0;
end


GO
/****** Object:  Table [dbo].[BO_MON]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BO_MON](
	[MABOMON] [int] IDENTITY(1,1) NOT NULL,
	[TENBOMON] [nvarchar](50) NULL,
	[MAKHOA] [int] NULL,
	[MAGV] [int] NULL,
 CONSTRAINT [PK_BO_MON] PRIMARY KEY CLUSTERED 
(
	[MABOMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAU_HOI]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAU_HOI](
	[MACH] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [ntext] NULL,
	[MACHUONG] [int] NULL,
	[MAMON] [int] NULL,
	[MADOKHO] [int] NULL,
	[MAGV] [int] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_CAU_HOI] PRIMARY KEY CLUSTERED 
(
	[MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAU_TRUC_DE_THI]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAU_TRUC_DE_THI](
	[MACTDT] [int] IDENTITY(1,1) NOT NULL,
	[MAMON] [int] NULL,
	[NGAYCAPNHAT] [datetime] NULL,
	[MAGV] [int] NULL,
	[TRANGTHAI] [bit] NULL,
	[SLDETOIDA] [smallint] NULL,
 CONSTRAINT [PK_CAU_TRUC_DE_THI] PRIMARY KEY CLUSTERED 
(
	[MACTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[chat]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[chat](
	[chat_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](max) NOT NULL,
	[room_id] [nvarchar](max) NOT NULL,
	[COUNT_MSG] [int] NULL,
	[LAST_USER] [varchar](max) NULL,
 CONSTRAINT [PK_chat] PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[chatdetails]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chatdetails](
	[details_chat_id] [int] IDENTITY(1,1) NOT NULL,
	[body] [ntext] NULL,
	[time_on] [datetime] NULL,
	[chat_id] [int] NULL,
	[url] [nvarchar](255) NULL,
	[client_id] [nvarchar](255) NULL,
 CONSTRAINT [PK_chatdetails] PRIMARY KEY CLUSTERED 
(
	[details_chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHI_TIET_CTDT]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_CTDT](
	[MACTDT] [int] NOT NULL,
	[MACHUONG] [int] NOT NULL,
	[MADOKHO] [int] NOT NULL,
	[SLCAUHOI] [smallint] NULL,
	[TONGDIEM] [float] NULL,
 CONSTRAINT [PK_CHI_TIET_CTDT] PRIMARY KEY CLUSTERED 
(
	[MACTDT] ASC,
	[MACHUONG] ASC,
	[MADOKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHI_TIET_DE_THI]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DE_THI](
	[MADETHI] [int] NOT NULL,
	[MACH] [int] NOT NULL,
	[VITRIDAPANDUNG] [smallint] NULL,
	[DIEM] [float] NULL,
 CONSTRAINT [PK_CHI_TIET_DE_THI] PRIMARY KEY CLUSTERED 
(
	[MADETHI] ASC,
	[MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUONG_MUC]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUONG_MUC](
	[MACHUONG] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [nvarchar](50) NULL,
	[MOTA] [nvarchar](100) NULL,
	[MAMON] [int] NULL,
 CONSTRAINT [PK_CHUONG_MUC] PRIMARY KEY CLUSTERED 
(
	[MACHUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONG_VIEC]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONG_VIEC](
	[MACV] [int] IDENTITY(1,1) NOT NULL,
	[MAMON] [int] NULL,
	[MAGV] [int] NULL,
	[MALOAICV] [int] NULL,
	[TGBABTDAU] [datetime] NULL,
	[TGKETTHUC] [datetime] NULL,
	[NOIDUNGCV] [ntext] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_TAO_CAU_HOI]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_TAO_CAU_HOI](
	[MACV] [int] NOT NULL,
	[MACHUONG] [int] NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_CT_TAO_CAU_HOI] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC,
	[MACHUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DAP_AN]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAP_AN](
	[MACH] [int] NOT NULL,
	[MADAPAN] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [ntext] NULL,
	[DAPANDUNG] [bit] NULL,
 CONSTRAINT [PK_DAP_AN] PRIMARY KEY CLUSTERED 
(
	[MADAPAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DE_THI]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DE_THI](
	[MADETHI] [int] IDENTITY(1,1) NOT NULL,
	[MAMON] [int] NULL,
	[NGAYTHEM] [datetime] NULL,
	[NGAYTHI] [date] NULL,
	[THOIGIANLAMBAI] [nvarchar](20) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_DE_THI] PRIMARY KEY CLUSTERED 
(
	[MADETHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DO_KHO]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DO_KHO](
	[MADOKHO] [int] IDENTITY(1,1) NOT NULL,
	[TENDOKHO] [nvarchar](50) NULL,
 CONSTRAINT [PK_DO_KHO] PRIMARY KEY CLUSTERED 
(
	[MADOKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANG_VIEN]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANG_VIEN](
	[MAGV] [int] IDENTITY(1,1) NOT NULL,
	[HOGV] [nvarchar](50) NULL,
	[TENGV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[ANHGV] [varchar](300) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIENTHOAI] [varchar](12) NULL,
	[GIOITINH] [bit] NULL,
	[MABOMON] [int] NULL,
 CONSTRAINT [PK_GIANG_VIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [int] IDENTITY(1,1) NOT NULL,
	[TENKHOA] [nvarchar](50) NULL,
	[MAGV] [int] NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI_CONG_VIEC]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_CONG_VIEC](
	[MALOAICV] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAICV] [nvarchar](100) NULL,
 CONSTRAINT [PK_LOAI_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MALOAICV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MON_HOC]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON_HOC](
	[MAMON] [int] IDENTITY(1,1) NOT NULL,
	[TENMON] [nvarchar](50) NULL,
	[MABOMON] [int] NULL,
	[MAGV] [int] NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_MON_HOC] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUAN_LY_MH]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN_LY_MH](
	[MAGV] [int] NOT NULL,
	[MAMON] [int] NOT NULL,
 CONSTRAINT [PK_QUAN_LY_MH] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BO_MON] ON 

INSERT [dbo].[BO_MON] ([MABOMON], [TENBOMON], [MAKHOA], [MAGV]) VALUES (1, N'Hệ thống thông tin', 1, 2)
INSERT [dbo].[BO_MON] ([MABOMON], [TENBOMON], [MAKHOA], [MAGV]) VALUES (2, N'Mạng máy tính', 1, 3)
INSERT [dbo].[BO_MON] ([MABOMON], [TENBOMON], [MAKHOA], [MAGV]) VALUES (3, N'Khoa học máy tính', 1, 3)
SET IDENTITY_INSERT [dbo].[BO_MON] OFF
SET IDENTITY_INSERT [dbo].[CAU_HOI] ON 

INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (1, N'Quyền và nghĩa vụ của ', 1, 2, 1, 2, 1)
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (2, N'Khi công dân vi phạm pháp luật với tính chất và mức độ vi phạm như nhau, trong một hoàn cảnh như nhau thì đều phải chịu trách nhiệm pháp lí', 1, 2, 2, 2, 1)
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (3, N'Quyền và nghĩa vụ của công dân không bị phân biệt bởi', 2, 2, 2, 2, 1)
SET IDENTITY_INSERT [dbo].[CAU_HOI] OFF
SET IDENTITY_INSERT [dbo].[CAU_TRUC_DE_THI] ON 

INSERT [dbo].[CAU_TRUC_DE_THI] ([MACTDT], [MAMON], [NGAYCAPNHAT], [MAGV], [TRANGTHAI], [SLDETOIDA]) VALUES (1, 2, CAST(0x0000A5A000000000 AS DateTime), 2, 1, 2)
INSERT [dbo].[CAU_TRUC_DE_THI] ([MACTDT], [MAMON], [NGAYCAPNHAT], [MAGV], [TRANGTHAI], [SLDETOIDA]) VALUES (3, 6, CAST(0x0000A77800B6530C AS DateTime), 2, 0, 1)
INSERT [dbo].[CAU_TRUC_DE_THI] ([MACTDT], [MAMON], [NGAYCAPNHAT], [MAGV], [TRANGTHAI], [SLDETOIDA]) VALUES (4, 7, CAST(0x0000A77800B6530D AS DateTime), 2, 0, 20)
SET IDENTITY_INSERT [dbo].[CAU_TRUC_DE_THI] OFF
SET IDENTITY_INSERT [dbo].[chat] ON 

INSERT [dbo].[chat] ([chat_id], [code], [room_id], [COUNT_MSG], [LAST_USER]) VALUES (5, N'2', N'7', 0, N'7')
INSERT [dbo].[chat] ([chat_id], [code], [room_id], [COUNT_MSG], [LAST_USER]) VALUES (6, N'2', N'2', 0, N'2')
INSERT [dbo].[chat] ([chat_id], [code], [room_id], [COUNT_MSG], [LAST_USER]) VALUES (7, N'2', N'11', 0, N'11')
SET IDENTITY_INSERT [dbo].[chat] OFF
SET IDENTITY_INSERT [dbo].[chatdetails] ON 

INSERT [dbo].[chatdetails] ([details_chat_id], [body], [time_on], [chat_id], [url], [client_id]) VALUES (23, N'Công việc chưa đươc duyệt  <a style=''color :red ;''  href=''/congviec/congviecduocphancong''> Xem lại </a>', CAST(0x0000A78C0138B77E AS DateTime), 5, N'', N'7')
INSERT [dbo].[chatdetails] ([details_chat_id], [body], [time_on], [chat_id], [url], [client_id]) VALUES (24, N'Công việc chưa đươc duyệt  <a style=''color :red ;''  href=''/congviec/congviecduocphancong''> Xem lại </a>', CAST(0x0000A78C01391209 AS DateTime), 5, N'', N'7')
INSERT [dbo].[chatdetails] ([details_chat_id], [body], [time_on], [chat_id], [url], [client_id]) VALUES (25, N'Công việc chưa đươc duyệt  <a style=''color :red ;''  href=''/congviec/congviecduocphancong''> Xem lại </a>', CAST(0x0000A78C01395BC3 AS DateTime), 5, N'', N'7')
SET IDENTITY_INSERT [dbo].[chatdetails] OFF
INSERT [dbo].[CHI_TIET_CTDT] ([MACTDT], [MACHUONG], [MADOKHO], [SLCAUHOI], [TONGDIEM]) VALUES (1, 1, 2, 2, 2)
INSERT [dbo].[CHI_TIET_CTDT] ([MACTDT], [MACHUONG], [MADOKHO], [SLCAUHOI], [TONGDIEM]) VALUES (1, 2, 1, 1, 2)
INSERT [dbo].[CHI_TIET_CTDT] ([MACTDT], [MACHUONG], [MADOKHO], [SLCAUHOI], [TONGDIEM]) VALUES (1, 4, 1, 2, 1)
INSERT [dbo].[CHI_TIET_DE_THI] ([MADETHI], [MACH], [VITRIDAPANDUNG], [DIEM]) VALUES (1, 1, 0, 1)
INSERT [dbo].[CHI_TIET_DE_THI] ([MADETHI], [MACH], [VITRIDAPANDUNG], [DIEM]) VALUES (1, 2, 1, 1.5)
INSERT [dbo].[CHI_TIET_DE_THI] ([MADETHI], [MACH], [VITRIDAPANDUNG], [DIEM]) VALUES (1, 4, 2, 2.5)
SET IDENTITY_INSERT [dbo].[CHUONG_MUC] ON 

INSERT [dbo].[CHUONG_MUC] ([MACHUONG], [TIEUDE], [MOTA], [MAMON]) VALUES (1, N'Chapter 1', N'INFORMATION SYSTEMS IN BUSINESS TODAY', 2)
INSERT [dbo].[CHUONG_MUC] ([MACHUONG], [TIEUDE], [MOTA], [MAMON]) VALUES (2, N'Chapter 2', N'GLOBAL E-BUSINESS AND COLLABORATION', 2)
INSERT [dbo].[CHUONG_MUC] ([MACHUONG], [TIEUDE], [MOTA], [MAMON]) VALUES (3, N'Chapter 3', N'INFORMATION SYSTEMS, ORGANIZATIONS, AND STRATEGY ', 2)
GO
SET IDENTITY_INSERT [dbo].[CHUONG_MUC] OFF
SET IDENTITY_INSERT [dbo].[CONG_VIEC] ON 

INSERT [dbo].[CONG_VIEC] ([MACV], [MAMON], [MAGV], [MALOAICV], [TGBABTDAU], [TGKETTHUC], [NOIDUNGCV], [TRANGTHAI]) VALUES (1, 2, 2, 2, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A5A000000000 AS DateTime), N'Thêm các chương vào môn học này nhé! =))', 1)
INSERT [dbo].[CONG_VIEC] ([MACV], [MAMON], [MAGV], [MALOAICV], [TGBABTDAU], [TGKETTHUC], [NOIDUNGCV], [TRANGTHAI]) VALUES (1097, 2, 11, 1, CAST(0x0000A78C00000000 AS DateTime), CAST(0x0000A79A00000000 AS DateTime), N'Tạo lệ môn này để có thông tin nha nha ', 1)
INSERT [dbo].[CONG_VIEC] ([MACV], [MAMON], [MAGV], [MALOAICV], [TGBABTDAU], [TGKETTHUC], [NOIDUNGCV], [TRANGTHAI]) VALUES (1098, 2, 2, 3, CAST(0x0000A78C00000000 AS DateTime), CAST(0x0000A79A00000000 AS DateTime), N'Tạo lẹ để tạo đề thi nhé', 0)
SET IDENTITY_INSERT [dbo].[CONG_VIEC] OFF
INSERT [dbo].[CT_TAO_CAU_HOI] ([MACV], [MACHUONG], [SL]) VALUES (1, 1, 2)
INSERT [dbo].[CT_TAO_CAU_HOI] ([MACV], [MACHUONG], [SL]) VALUES (1, 2, 4)
INSERT [dbo].[CT_TAO_CAU_HOI] ([MACV], [MACHUONG], [SL]) VALUES (1, 4, 3)
SET IDENTITY_INSERT [dbo].[DAP_AN] ON 

INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (1, 1, N'Hiến pháp', 0)
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (1, 2, N'Hiến pháp và luật', 1)
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (1, 3, N'Luật hiến pháp', 0)
SET IDENTITY_INSERT [dbo].[DAP_AN] OFF
SET IDENTITY_INSERT [dbo].[DE_THI] ON 

INSERT [dbo].[DE_THI] ([MADETHI], [MAMON], [NGAYTHEM], [NGAYTHI], [THOIGIANLAMBAI], [TRANGTHAI]) VALUES (1, 2, CAST(0x0000A58F00000000 AS DateTime), CAST(0x193B0B00 AS Date), N'60p', 1)
INSERT [dbo].[DE_THI] ([MADETHI], [MAMON], [NGAYTHEM], [NGAYTHI], [THOIGIANLAMBAI], [TRANGTHAI]) VALUES (18, 2, CAST(0x0000A77A0025BAB2 AS DateTime), CAST(0x193B0B00 AS Date), N'90P', 1)
INSERT [dbo].[DE_THI] ([MADETHI], [MAMON], [NGAYTHEM], [NGAYTHI], [THOIGIANLAMBAI], [TRANGTHAI]) VALUES (31, 2, CAST(0x0000A78C001C3DC5 AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[DE_THI] OFF
SET IDENTITY_INSERT [dbo].[DO_KHO] ON 

INSERT [dbo].[DO_KHO] ([MADOKHO], [TENDOKHO]) VALUES (1, N'Khó')
INSERT [dbo].[DO_KHO] ([MADOKHO], [TENDOKHO]) VALUES (2, N'Dễ')
INSERT [dbo].[DO_KHO] ([MADOKHO], [TENDOKHO]) VALUES (3, N'Trung bình')
SET IDENTITY_INSERT [dbo].[DO_KHO] OFF
SET IDENTITY_INSERT [dbo].[GIANG_VIEN] ON 

INSERT [dbo].[GIANG_VIEN] ([MAGV], [HOGV], [TENGV], [NGAYSINH], [EMAIL], [MATKHAU], [ANHGV], [DIACHI], [DIENTHOAI], [GIOITINH], [MABOMON]) VALUES (1, N'Phan', N'đình long', CAST(0xDB1D0B00 AS Date), N'dinhlong@gmail.com', N'fd3dc2c8cfc002a42c76eaa31bd7b462', N'/UploadedFiles/default_avatar.jpg', N'TP HCM', N'0981773084', 0, 1)
INSERT [dbo].[GIANG_VIEN] ([MAGV], [HOGV], [TENGV], [NGAYSINH], [EMAIL], [MATKHAU], [ANHGV], [DIACHI], [DIENTHOAI], [GIOITINH], [MABOMON]) VALUES (2, N'Trần Lê Như', N'Quỳnh', CAST(0xD23C0B00 AS Date), N'quynhnhu@gmail.com', N'fd3dc2c8cfc002a42c76eaa31bd7b462', N'/UploadedFiles/84128613146052335341496749743784.jpg', N'10.8713204,106.7906752', N'0981773084', 0, 1)
INSERT [dbo].[GIANG_VIEN] ([MAGV], [HOGV], [TENGV], [NGAYSINH], [EMAIL], [MATKHAU], [ANHGV], [DIACHI], [DIENTHOAI], [GIOITINH], [MABOMON]) VALUES (3, N'Pham Van', N'Tinh', CAST(0xFB070B00 AS Date), N'phamvantinh@gmail.com', N'fd3dc2c8cfc002a42c76eaa31bd7b462', N'/UploadedFiles/78246940447241230301496928694457.jpg', N'10.8713257,106.7904928', N'01203947318', 0, 3)
SET IDENTITY_INSERT [dbo].[GIANG_VIEN] OFF
SET IDENTITY_INSERT [dbo].[KHOA] ON 

INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [MAGV]) VALUES (1, N'Khoa Công Nghệ Thông Tin', 3)
SET IDENTITY_INSERT [dbo].[KHOA] OFF
SET IDENTITY_INSERT [dbo].[LOAI_CONG_VIEC] ON 

INSERT [dbo].[LOAI_CONG_VIEC] ([MALOAICV], [TENLOAICV]) VALUES (1, N'Tạo đề cương')
INSERT [dbo].[LOAI_CONG_VIEC] ([MALOAICV], [TENLOAICV]) VALUES (2, N'Tạo câu hỏi')
INSERT [dbo].[LOAI_CONG_VIEC] ([MALOAICV], [TENLOAICV]) VALUES (3, N'Tạo cấu trúc đề thi')
SET IDENTITY_INSERT [dbo].[LOAI_CONG_VIEC] OFF
SET IDENTITY_INSERT [dbo].[MON_HOC] ON 

INSERT [dbo].[MON_HOC] ([MAMON], [TENMON], [MABOMON], [MAGV], [TRANGTHAI]) VALUES (1, N'Mạng máy tính cơ bản', 2, 3, 0)
INSERT [dbo].[MON_HOC] ([MAMON], [TENMON], [MABOMON], [MAGV], [TRANGTHAI]) VALUES (2, N'Hệ thống thông tin quản lý', 1, 2, 0)
INSERT [dbo].[MON_HOC] ([MAMON], [TENMON], [MABOMON], [MAGV], [TRANGTHAI]) VALUES (3, N'Mạng máy tính nâng cao', 2, 3, 0)
SET IDENTITY_INSERT [dbo].[MON_HOC] OFF
INSERT [dbo].[QUAN_LY_MH] ([MAGV], [MAMON]) VALUES (1, 7)
INSERT [dbo].[QUAN_LY_MH] ([MAGV], [MAMON]) VALUES (1, 8)
INSERT [dbo].[QUAN_LY_MH] ([MAGV], [MAMON]) VALUES (2, 1)
/****** Object:  Index [IX_CAU_TRUC_DE_THI]    Script Date: 7/24/2017 2:34:18 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CAU_TRUC_DE_THI] ON [dbo].[CAU_TRUC_DE_THI]
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chat] ADD  CONSTRAINT [DF_chat_COUNT_MSG]  DEFAULT ((0)) FOR [COUNT_MSG]
GO
ALTER TABLE [dbo].[MON_HOC] ADD  CONSTRAINT [DF_MON_HOC_TRANGTHAI]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[BO_MON]  WITH CHECK ADD  CONSTRAINT [FK_BO_MON_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[BO_MON] CHECK CONSTRAINT [FK_BO_MON_KHOA]
GO
ALTER TABLE [dbo].[CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_HOI_CHUONG_MUC] FOREIGN KEY([MACHUONG])
REFERENCES [dbo].[CHUONG_MUC] ([MACHUONG])
GO
ALTER TABLE [dbo].[CAU_HOI] CHECK CONSTRAINT [FK_CAU_HOI_CHUONG_MUC]
GO
ALTER TABLE [dbo].[CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_HOI_DO_KHO] FOREIGN KEY([MADOKHO])
REFERENCES [dbo].[DO_KHO] ([MADOKHO])
GO
ALTER TABLE [dbo].[CAU_HOI] CHECK CONSTRAINT [FK_CAU_HOI_DO_KHO]
GO
ALTER TABLE [dbo].[CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_HOI_MON_HOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON_HOC] ([MAMON])
GO
ALTER TABLE [dbo].[CAU_HOI] CHECK CONSTRAINT [FK_CAU_HOI_MON_HOC]
GO
ALTER TABLE [dbo].[CAU_TRUC_DE_THI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_TRUC_DE_THI_GIANG_VIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANG_VIEN] ([MAGV])
GO
ALTER TABLE [dbo].[CAU_TRUC_DE_THI] CHECK CONSTRAINT [FK_CAU_TRUC_DE_THI_GIANG_VIEN]
GO
ALTER TABLE [dbo].[CAU_TRUC_DE_THI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_TRUC_DE_THI_MON_HOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON_HOC] ([MAMON])
GO
ALTER TABLE [dbo].[CAU_TRUC_DE_THI] CHECK CONSTRAINT [FK_CAU_TRUC_DE_THI_MON_HOC]
GO
ALTER TABLE [dbo].[chatdetails]  WITH CHECK ADD  CONSTRAINT [FK_chatdetails_chat] FOREIGN KEY([chat_id])
REFERENCES [dbo].[chat] ([chat_id])
GO
ALTER TABLE [dbo].[chatdetails] CHECK CONSTRAINT [FK_chatdetails_chat]
GO
ALTER TABLE [dbo].[CHI_TIET_CTDT]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CTDT_CAU_TRUC_DE_THI] FOREIGN KEY([MACTDT])
REFERENCES [dbo].[CAU_TRUC_DE_THI] ([MACTDT])
GO
ALTER TABLE [dbo].[CHI_TIET_CTDT] CHECK CONSTRAINT [FK_CHI_TIET_CTDT_CAU_TRUC_DE_THI]
GO
ALTER TABLE [dbo].[CHI_TIET_CTDT]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CTDT_CHUONG_MUC] FOREIGN KEY([MACHUONG])
REFERENCES [dbo].[CHUONG_MUC] ([MACHUONG])
GO
ALTER TABLE [dbo].[CHI_TIET_CTDT] CHECK CONSTRAINT [FK_CHI_TIET_CTDT_CHUONG_MUC]
GO
ALTER TABLE [dbo].[CHI_TIET_DE_THI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DE_THI_CAU_HOI] FOREIGN KEY([MACH])
REFERENCES [dbo].[CAU_HOI] ([MACH])
GO
ALTER TABLE [dbo].[CHI_TIET_DE_THI] CHECK CONSTRAINT [FK_CHI_TIET_DE_THI_CAU_HOI]
GO
ALTER TABLE [dbo].[CHI_TIET_DE_THI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DE_THI_DE_THI] FOREIGN KEY([MADETHI])
REFERENCES [dbo].[DE_THI] ([MADETHI])
GO
ALTER TABLE [dbo].[CHI_TIET_DE_THI] CHECK CONSTRAINT [FK_CHI_TIET_DE_THI_DE_THI]
GO
ALTER TABLE [dbo].[CHUONG_MUC]  WITH CHECK ADD  CONSTRAINT [FK_CHUONG_MUC_MON_HOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON_HOC] ([MAMON])
GO
ALTER TABLE [dbo].[CHUONG_MUC] CHECK CONSTRAINT [FK_CHUONG_MUC_MON_HOC]
GO
ALTER TABLE [dbo].[CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONG_VIEC_GIANG_VIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANG_VIEN] ([MAGV])
GO
ALTER TABLE [dbo].[CONG_VIEC] CHECK CONSTRAINT [FK_CONG_VIEC_GIANG_VIEN]
GO
ALTER TABLE [dbo].[CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONG_VIEC_LOAI_CONG_VIEC] FOREIGN KEY([MALOAICV])
REFERENCES [dbo].[LOAI_CONG_VIEC] ([MALOAICV])
GO
ALTER TABLE [dbo].[CONG_VIEC] CHECK CONSTRAINT [FK_CONG_VIEC_LOAI_CONG_VIEC]
GO
ALTER TABLE [dbo].[CT_TAO_CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_CT_TAO_CAU_HOI_CHUONG_MUC] FOREIGN KEY([MACHUONG])
REFERENCES [dbo].[CHUONG_MUC] ([MACHUONG])
GO
ALTER TABLE [dbo].[CT_TAO_CAU_HOI] CHECK CONSTRAINT [FK_CT_TAO_CAU_HOI_CHUONG_MUC]
GO
ALTER TABLE [dbo].[CT_TAO_CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_CT_TAO_CAU_HOI_CONG_VIEC] FOREIGN KEY([MACV])
REFERENCES [dbo].[CONG_VIEC] ([MACV])
GO
ALTER TABLE [dbo].[CT_TAO_CAU_HOI] CHECK CONSTRAINT [FK_CT_TAO_CAU_HOI_CONG_VIEC]
GO
ALTER TABLE [dbo].[DAP_AN]  WITH CHECK ADD  CONSTRAINT [FK_DAP_AN_CAU_HOI] FOREIGN KEY([MACH])
REFERENCES [dbo].[CAU_HOI] ([MACH])
GO
ALTER TABLE [dbo].[DAP_AN] CHECK CONSTRAINT [FK_DAP_AN_CAU_HOI]
GO
ALTER TABLE [dbo].[DE_THI]  WITH CHECK ADD  CONSTRAINT [FK_DE_THI_MON_HOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON_HOC] ([MAMON])
GO
ALTER TABLE [dbo].[DE_THI] CHECK CONSTRAINT [FK_DE_THI_MON_HOC]
GO
ALTER TABLE [dbo].[GIANG_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANG_VIEN_BO_MON1] FOREIGN KEY([MABOMON])
REFERENCES [dbo].[BO_MON] ([MABOMON])
GO
ALTER TABLE [dbo].[GIANG_VIEN] CHECK CONSTRAINT [FK_GIANG_VIEN_BO_MON1]
GO
ALTER TABLE [dbo].[MON_HOC]  WITH CHECK ADD  CONSTRAINT [FK_MON_HOC_BO_MON] FOREIGN KEY([MABOMON])
REFERENCES [dbo].[BO_MON] ([MABOMON])
GO
ALTER TABLE [dbo].[MON_HOC] CHECK CONSTRAINT [FK_MON_HOC_BO_MON]
GO
ALTER TABLE [dbo].[QUAN_LY_MH]  WITH CHECK ADD  CONSTRAINT [FK_QUAN_LY_MH_GIANG_VIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANG_VIEN] ([MAGV])
GO
ALTER TABLE [dbo].[QUAN_LY_MH] CHECK CONSTRAINT [FK_QUAN_LY_MH_GIANG_VIEN]
GO
ALTER TABLE [dbo].[QUAN_LY_MH]  WITH CHECK ADD  CONSTRAINT [FK_QUAN_LY_MH_MON_HOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON_HOC] ([MAMON])
GO
ALTER TABLE [dbo].[QUAN_LY_MH] CHECK CONSTRAINT [FK_QUAN_LY_MH_MON_HOC]
GO
/****** Object:  Trigger [dbo].[INSERT_GV_INTO_QLMH]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create trigger [dbo].[INSERT_GV_INTO_QLMH] on [dbo].[MON_HOC] AFTER UPDATE
  as

BEGIN
 IF(UPDATE(MAGV))
 BEGIN
	 IF EXISTS (SELECT  * FROM inserted WHERE MAGV IS NOT NULL)
		IF NOT EXISTS (SELECT * FROM QUAN_LY_MH  JOIN inserted ON inserted.MAGV = QUAN_LY_MH.MAGV AND inserted.MAMON=QUAN_LY_MH.MAMON)
			INSERT INTO QUAN_LY_MH(MAGV,MAMON) SELECT MAGV,MAMON FROM INSERTED
 END

END



GO
/****** Object:  Trigger [dbo].[TRIGGER_INSERT_CAUTRUCDETHI_WHEN_CREATE_MONHOC]    Script Date: 7/24/2017 2:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRIGGER_INSERT_CAUTRUCDETHI_WHEN_CREATE_MONHOC] ON [dbo].[MON_HOC] AFTER INSERT
AS
BEGIN
	DECLARE @MAMON INT;
	SET @MAMON = (SELECT MAMON FROM inserted)
	INSERT INTO CAU_TRUC_DE_THI(MAMON,NGAYCAPNHAT,TRANGTHAI,SLDETOIDA) VALUES(@MAMON,GETDATE(),0,0);
END





GO
USE [master]
GO
