<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet"
	href="/Assets/admin2/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/formatting-word.css" />
<script src="/Assets/admin2/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js" ></script>
</head>
<body>
	<div class="container-fluid">
	
<div class="col-xs-5">
                <a class="btn jquery-word-export" href="javascript:void(0)">
                    <span class="word-icon">W</span>
                    Export as .doc
                </a>
            </div>
		<div class="row">
			<div class="col-md-9" id="page-content"  style="border-right: 1px solid #555555;">
				<div class="content-a4">
					<div class="row">
						<div class="col-md-6 text-center">
							<h4 class="uppercase">
								trường đại học nông lâm <br /> thành phố hồ chí minh
							</h4>
							<div class="col-md-8 col-md-offset-2" style="margin-top: -20px;">
								<hr style="border: 1px #000000 solid" />
							</div>
						</div>
						<div class="col-md-6 text-center"></div>
					</div>
					<div class="clearfix"></div>
					<h3 class="text-center uppercase">
						<strong>Đề thi kết thúc học phần</strong>
					</h3>
					<br />
					<div class="row" style="margin-top: -20px;">
						<div class="col-md-8 col-md-offset-2 text-center">

							<strong>Mã đề thi:</strong> <span th:text="${maMonHoc}"></span> <br />
							<strong>Thời gian:</strong> #thoigian <br /> <strong>Tên
								học phần:</strong> <span th:text="${tenMonHoc}"></span> <br /> <strong>Học
								kỳ:</strong> #hocky &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; <strong>Năm
								học:</strong> #namhoc
							<hr />
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 content">
							<div class="phan-tracnghiem  text text-center">Nội dung bài
								thi</div>
							<div th:with="numberCauHoi=${1}"></div>
							<th:block th:each="cauHoi, iterStat : ${listCauHoi} ">
								<div class="cauhoi row">
									<span class="col-md-12"><b class="cauhoiso">Câu <span
											th:text="${iterStat.index +1}"></span>:
									</b> <span th:text="${cauHoi.noidung}"></span> </span>
									<th:block th:each="dapAn,iterStat2 : ${cauHoi.list}">
										<span th:if="${dapAn.dapandung}"  class="col-md-6  text-danger "><span th:attr="data-id=${iterStat2.index}" class="abc"></span>.&nbsp;<span
											th:text="${dapAn.noidung}"> </span>
										</span>
										<span th:unless="${dapAn.dapandung}"  class="col-md-6 "><span th:attr="data-id=${iterStat2.index}" class="abc"></span>.&nbsp;<span
											th:text="${dapAn.noidung}"> </span>
										</span>
									</th:block>
								</div>


							</th:block>

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 menu">
				<h3 class="text-center">THAO TÁC</h3>
				<div class="form-group">
					<label>Mã đề thi:</label> <input type="text"
						class="form-control form-class" placeholder="Mã đề thi" />
				</div>
				<div class="form-group">
					<label>Thời gian:</label> <input type="date"
						class="form-control form-class" placeholder="Thời gian thi" />
				</div>
				<div class="form-group">
					<label>Tên học phần:</label> <select
						class="form-control form-class">
						<option>Môn học</option>
					</select>
				</div>
				<div class="form-group">
					<label>Mã học phần:</label> <input type="text"
						class="form-control form-class" readonly="readonly" />
				</div>
				<div class="form-group">
					<label>Học kỳ:</label> <select class="form-control form-class">
						<option>Học kỳ 1</option>
						<option>Học kỳ 2</option>
						<option>Học kỳ 3</option>
					</select>
				</div>
				<div class="form-group form-class">
					<label>Năm học:</label> <input type="number" class="form-control"
						placeholder="Năm học" />
				</div>
			</div>
		</div>
	</div>

	<script src="/Assets/admin2/plugins/jQueryUI/jquery-ui.js"></script>
	<script src="/Assets/admin2/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		var abc = [ "A", "B", "C", "D", "E", "F", "G", "H", "J", "K", "L", "M" ];
		update();
		function update() {
			$("body .abc").each(function() {
				$(this).html(abc[$(this).attr("data-id")]);
			});
		}
	</script>
	
<script th:inline="javascript">

      /*<![CDATA[*/


	if (typeof jQuery !== "undefined" && typeof saveAs !== "undefined") {
    (function($) {
        $.fn.wordExport = function(fileName) {
            fileName = typeof fileName !== 'undefined' ? fileName : "jQuery-Word-Export";
            var static = {
                mhtml: {
                    top: "Mime-Version: 1.0\nContent-Base: " + location.href + "\nContent-Type: Multipart/related; boundary=\"NEXT.ITEM-BOUNDARY\";type=\"text/html\"\n\n--NEXT.ITEM-BOUNDARY\nContent-Type: text/html; charset=\"utf-8\"\nContent-Location: " + location.href + "\n\n<!DOCTYPE html>\n<html>\n_html_</html>",
                    head: "<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<style>\n_styles_\n</style>\n</head>\n",
                    body: "<body>_body_</body>"
                }
            };
            var options = {
                maxWidth: 624
            };
            // Clone selected element before manipulating it
            var markup = $(this).clone();

            // Remove hidden elements from the output
            markup.each(function() {
                var self = $(this);
                if (self.is(':hidden'))
                    self.remove();
            });

            // Embed all images using Data URLs
            var images = Array();
            var img = markup.find('img');
            for (var i = 0; i < img.length; i++) {
                // Calculate dimensions of output image
                var w = Math.min(img[i].width, options.maxWidth);
                var h = img[i].height * (w / img[i].width);
                // Create canvas for converting image to data URL
                var canvas = document.createElement("CANVAS");
                canvas.width = w;
                canvas.height = h;
                // Draw image to canvas
                var context = canvas.getContext('2d');
                context.drawImage(img[i], 0, 0, w, h);
                // Get data URL encoding of image
                var uri = canvas.toDataURL("image/png");
                $(img[i]).attr("src", img[i].src);
                img[i].width = w;
                img[i].height = h;
                // Save encoded image to array
                images[i] = {
                    type: uri.substring(uri.indexOf(":") + 1, uri.indexOf(";")),
                    encoding: uri.substring(uri.indexOf(";") + 1, uri.indexOf(",")),
                    location: $(img[i]).attr("src"),
                    data: uri.substring(uri.indexOf(",") + 1)
                };
            }

            // Prepare bottom of mhtml file with image data
            var mhtmlBottom = "\n";
            for (var i = 0; i < images.length; i++) {
                mhtmlBottom += "--NEXT.ITEM-BOUNDARY\n";
                mhtmlBottom += "Content-Location: " + images[i].location + "\n";
                mhtmlBottom += "Content-Type: " + images[i].type + "\n";
                mhtmlBottom += "Content-Transfer-Encoding: " + images[i].encoding + "\n\n";
                mhtmlBottom += images[i].data + "\n\n";
            }
            mhtmlBottom += "--NEXT.ITEM-BOUNDARY--";

            //TODO: load css from included stylesheet
            var styles = "";

            // Aggregate parts of the file together
            var fileContent = static.mhtml.top.replace("_html_", static.mhtml.head.replace("_styles_", styles) + static.mhtml.body.replace("_body_", markup.html())) + mhtmlBottom;

            // Create a Blob with the file contents
            var blob = new Blob([fileContent], {
                type: "application/msword;charset=utf-8"
            });
            saveAs(blob, fileName + ".doc");
        };
    })(jQuery);
} else {
    if (typeof jQuery === "undefined") {
        console.error("jQuery Word Export: missing dependency (jQuery)");
    }
    if (typeof saveAs === "undefined") {
        console.error("jQuery Word Export: missing dependency (FileSaver.js)");
    }
}




$("a.jquery-word-export").click(function(event) {
            $("#page-content").wordExport();
        });



 		
 /*]]>*/
 </script>
 
</body>
</html>