<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

 <header th:fragment="menu"   class="main-header">
    <!-- THANH THEM CHAT-->
     
      
   <link href="/main.css" rel="stylesheet"/>
    <script src="/sockjs.js"></script>
    <script src="/stomp.js"></script>
      <!-- <link href="/chatbox.css" rel="stylesheet"/> -->
     <!--   <script src="/chatbox.js"></script> -->
   <script th:inline="javascript">
    /*<![CDATA[*/
 
// Define the string

   var chat   ; 
   // bien toan cuc
    function ChatRoom( from ,  to) {
    	this.from = from  ;
    	this.to = to ;
    }
   loadCODE();
   moKetNoi();
   function loadCODE() {
             chat  = JSON.parse(localStorage.getItem("chat2"));
             chat = new ChatRoom();
            chat.from = /*[[${session.USER_SESSION.magv}]]*/ 1;
              localStorage.setItem("chat2", JSON.stringify(chat));	 
        console.log(chat);    
   }
   function saveCODE() {
	   localStorage.setItem("chat2", JSON.stringify(chat));
     }
		    var client;
		    
		    function moKetNoi() {
			client = Stomp.over(new SockJS('/chat'));
			client.connect({}, function (frame) {
			    client.subscribe('/topic/messages', function (message) {
				//showMessage(JSON.parse(message.body));
				//alert(message.from  + " " + message.from) ;	
				
			var data = JSON.parse(message.body);
			console.log(''+ data.from +' gửi tin cho :  ' +  data.message + '');
			    		    
				if(data.message == chat.from) {
					$("#count-cart").html('Tin nhắn mới từ '+data.from );
					document.title = 'Tin nhắn mới từ '+data.from  ;
					chat.to = data.from ;
					saveCODE() ;
					 
					 loadMailBox();
					loadingBody();
					// $("#chat_window_1").show();
				     }else{
					  
					if(data.from == chat.from ){
						loadingBody() ;
					}
				}
				
				
						   
			    });
			  });
			//  alert("mở kết nối ...")
			 //   sendServer();
			 // loadingBody();
		      }
		  /*  $(document).on('focus', '.panel-footer input.chat_input', function (e) {  	
		    if(client == null) {
		    	 moKetNoi();		    	 
		    }
		    }); */
		   $(document).on('click', '.panel-heading span.icon_minim', function (e) {		   
			   if(client == null) {
			    	 moKetNoi();	 
			    }  
		   });
		/*     $(document).on('click', '.icon_close', function (e) {
		        //$(this).parent().parent().parent().parent().remove();
		        $( "#chat_window_1" ).remove();

		        if (client != null) {
				    client.disconnect();
				  
				}
				client = null;
				
        //      alert("Đóng kết nối " );	
              
				
	    	    }); */
		    
		
		
	
	     $(document).on('click' ,'#btn-chat', function () {
	    	 var temp = $("#btn-input").val();
	          if(temp.length  < 60 ) {
	    	 if(chat.to != null && chat.from !=null ) {
		    	  $.ajax({
		    		  url : '/themnoidung',
		    		  type: 'POST' ,
		    		  data : {from : chat.from  , to : chat.to , boby : temp , url : window.location.href } ,
		    		  success : function ( response ) {
		    			if(response == true ){
		    				var topic = "ROOM";
		    				client.send("/app/chat/" + topic, {}, JSON.stringify({
		    					from: chat.from,
		    				    text: chat.to ,
		    				}));
		    			}
		    		  }
		    	  });
		    	}
	        }else{
	        	alert("nhắn méo gì dài vậy ..");
	        }
			$('#btn-input').val("");
	    	 
	     });
	
	   
	   function loadingBody() {
		   
	       if(chat.from != null && chat.to !=null) {
	    	   
	    	   $.ajax({
	    		   url : '/chatpoint' ,
	    		   type : 'POST' ,
	    		   data : { from : chat.from  , to : chat.to },
	    		   success : function  (response) {	    			   
	    				  
	    				   $("#danhsachchat .chat-item").each( function (){
	    					   	if($(this).attr("data-id") == chat.to ) {
	    					   	 $("#chatvoi").html($(this).html()); 
	    					   	}
	    					   
	    				   } );
	    			 console.log(response);
	    			   showMessage(response);
	    			  
	    		   }
	    	   });
	       }
	    }
	  
	    function showMessage(mesg)
	    {
	    	var html = '' ;
	    for(var i = mesg.length -1 ; i >= 0  ; i--) {
	    	// la tin nhan cua nguoi dung 
	    	
	    	
                <!-- /.direct-chat-msg -->

                <!-- Message to the right -->
               
	    	
	    	
                if(mesg[i].clientId == chat.from ){
                	
                	var from = ' <div class="direct-chat-msg right">'
                        +'<div class="direct-chat-info clearfix">'
                        +' <span class="direct-chat-name pull-right"> Người ta </span>'
                + '  <span class="direct-chat-timestamp pull-left">'+mesg[i].date+'</span>'
                + ' </div>'
                 + '<img class="direct-chat-img" src="/img/user1-128x128.jpg" alt="Message User Image"/>'
                +' <div class="direct-chat-text">'
                +' ' +mesg[i].body
                +' </div>'
                 +'  </div>';
                	
                	
   	    		/*  var from = '<div class="row msg_container base_sent">'
   	                 +'   <div class="col-md-10 col-xs-10">'
   	                 +' <div class="messages msg_sent">'
   	                  + ' <p>'+mesg[i].body+' </p>'
   	                +'    <time >'+mesg[i].date+'</time>'
   	              +'  </div>'
   	             +'</div>'
   	            +' <div class="col-md-2 col-xs-2 avatar">'
   	             +'   <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">'
   	              + ' </div>'
   	            +'</div>'; */
   	    		html +=  from  ;
   	    	}else{
   	    		 
   	    		
   	    		
   	    		var to =  '<div class="direct-chat-msg">'
             +' <div class="direct-chat-info clearfix">'
             +' <span class="direct-chat-name pull-left"> Tôi</span>'
            + '<span class="direct-chat-timestamp pull-right">'+mesg[i].date+'</span>'
            + '</div>'
           + '<img class="direct-chat-img" src="/img/user1-128x128.jpg" alt="Message User Image"/>'
           + '<div class="direct-chat-text">'
            +''+mesg[i].body
            +'</div>'
           + '</div>' ;
             
   	    		
   	    		
   	    		
   	    		
   	    		  /* var to = '<div class="row msg_container base_receive">'
   	    		      +  '        <div class="col-md-2 col-xs-2 avatar">'
   	    		     +  '    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">'
   	    		     +'    </div>'
   	    		     +'    <div class="col-md-10 col-xs-10">'
   	    		      +'       <div class="messages msg_receive">'
   	    		      +'          <p>'+mesg[i].body+'</p>'
   	    		        +'        <time >'+mesg[i].date+'</time>'
   	    		      +'      </div>'
   	    		     +'   </div>'
   	    		         + '  </div>'; */
   	    		
   	    		html+= to ;
   	    	}
	    	
	    	/* if(mesg[i].clientId == chat.from ){
	    		 var from = '<div class="row msg_container base_sent">'
	                 +'   <div class="col-md-10 col-xs-10">'
	                 +' <div class="messages msg_sent">'
	                  + ' <p>'+mesg[i].body+' </p>'
	                +'    <time >'+mesg[i].date+'</time>'
	              +'  </div>'
	             +'</div>'
	            +' <div class="col-md-2 col-xs-2 avatar">'
	             +'   <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">'
	              + ' </div>'
	            +'</div>';
	    		html +=  from  ;
	    	}else{
	    		  var to = '<div class="row msg_container base_receive">'
	    		      +  '        <div class="col-md-2 col-xs-2 avatar">'
	    		     +  '    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">'
	    		     +'    </div>'
	    		     +'    <div class="col-md-10 col-xs-10">'
	    		      +'       <div class="messages msg_receive">'
	    		      +'          <p>'+mesg[i].body+'</p>'
	    		        +'        <time >'+mesg[i].date+'</time>'
	    		      +'      </div>'
	    		     +'   </div>'
	    		         + '  </div>';
	    		
	    		html+= to ;
	    	} */
	    }
	     if(mesg.length == 0 ) {
	    	 html = ' <div style="height: 200px;" > '
	    	  + ''        
	    	 +' </div >' ;
	     }
	    $(".msg_container_base").html(html);
	    
     
     
     
    
	    }
	 /*     $(document).ready(function (){
	   	 $("#danhsachchat .chat-item").each(function (){
		    	
		    	 if($(this).attr("data-id") == chat.from) {
		    		 $(this).remove();
		    	 }
		    	 if(chat.to != null && chat.from !=null ) {
		    		 if($(this).val() == chat.to) {		    			 
		    			 loadingBody();
		    			// alert($(this).val() +" "+chat.to);
		    		 }
		    	 } 
		    	
		    	 
		    });
	    }); 
	    */
	    $(document).ready(function  () {
	    	 $("#end1").click();    	 
	        $("#end2").click();
	   $("#contacts-list").on("click",".contacts-list-info" , function () {		   
		//  alert($(this).attr("data-id"));
		  $("button[data-widget='chat-pane-toggle']").click();
		  if(!$("#minim_chat_window").hasClass("glyphicon-minus")){
		    	 $("#minim_chat_window").click();
		    }
	    	      chat.to = $(this).attr("data-id");
	    		  saveCODE() ;	    		 
	    		  console.log(chat);
	    		  loadingBody();
	    	//	  $("#chat_window_1").show();
	    		  
	   });
	    });
	   function loadDanhSachChat() {
		   var magv = /*[[${session.USER_SESSION.magv}]]*/ 1;
		   $.ajax({
			   url : '/danhsachchat',
			   type : 'GET' ,
			   data : {magv  , magv },
			   success : function  (response ) {
				   console.log(response);
				   
				 /*  var html = '';
				   for(var i = 0 ; i< response.length  ; i++) {
					   if(response[i].magv != chat.from) {
					   html += '<li class="list-group-item chat-item" data-id="'+response[i].magv+'">'+response[i].tengv+'</li>' ;
				   }
				   } */
				   var html2 = '' ;
				   for(var i = 0 ; i< response.length  ; i++) {
					   if(response[i].magv != chat.from) {
					   html2 += ' <li>'
		                    + ' <a href="#">'
	                        + '<img class="contacts-list-img" src="'+response[i].anhgv+'" alt="User Image"/>'
	                        + '<div data-id="'+response[i].magv+'" class="contacts-list-info">'
	                         +'   <span class="contacts-list-name">'
	                         +' '+response[i].hogv+' '+response[i].tengv 
	                         +'     <small class="contacts-list-date pull-right">'+response[i].magv+'</small>'
	                          +'  </span>'
	                       + '<span class="contacts-list-msg">'+response[i].email+'</span>'
	                       +'<span data-toggle="tooltip" id="end2" title="" class="badge bg-green jsclient-count" data-id="'+response[i].magv+'"  data-original-title="Tin nhắn mới"></span>'
	                       + '</div>'	                   
	                     +' </a>' 
	                      + ' </li>' ;
					   }
				   }
				   $(".contacts-list").html(html2) ;
				//   $("#danhsachchat").html(html);
				 
			   }
		   });
		   
	   }
	   function loadMailBox(){
		   
		   if(chat.from != null ){
	    		 $.ajax({
	    			 url : '/findMailBox' ,
	    			 type : 'POST' ,
	    			 data : { userId : chat.from } ,
	    			 success : function ( response) {
	    				 // tong so luong tin nhan
	    				 var count  = 0 ; 
	    				 for(var i = 0  ;  i < response.length  ; i++) {
	    					 count += response[i].countMsg ;
	    				  }
	    				$(".countmsg").html(count) ;
	    				// so luong tin nhan tuong user
	    				
	    				for(var i = 0 ; i < response.length  ; i++) {
	    					
	    					  $("#contacts-list .jsclient-count").each(function  () {
	    						  
	    						//  alert(""+response[i].code +" "+$(this).attr("data-id"));
	    						if( response[i].code == $(this).attr("data-id") || response[i].roomId == $(this).attr("data-id") ) {
	    							$(this).html(response[i].countMsg) ;
	    						}  
	    					  }) ;
	    				 }
	    				
	    				 console.log(response);
	    				/*  for(var j  = 0 ; j< response.length ; j++) {
	    					 $("#danhsachchat .chat-item ").each(function () {
	    						 if($(this).html() == response[i].code )
	    					 });
	    				 } */
	    			//	alert(chat.from);
	    			/* 	 if(response.length != null){
	    				var html = '' ;
	    				 for(var i  = 0  ; i< response.length ; i++) {
	    					
	    					
	    				 if(chat.from  == response[i].roomId ){
	    					 html +=  ' <li class="list-group-item" data-id="'+response[i].code+'">'+response[i].code+'<span class="badge">'+response[i].countMsg+'</span></li>';
	    					 }else{
	    						 html +=  ' <li class="list-group-item" data-id="'+response[i].roomId+'">'+response[i].roomId+'<span class="badge">'+response[i].countMsg+'</span></li>';
	 	    					 
	    					 }
	    					 }
	    				 $("#danhsachchat").html(html);
	    				 } */
	    			 }
	    		 });
	    	 } 
		   
	   }
	    	
	
	     $(document).ready(function  () {
	    //	 $("#chat_window_1").hide();
	    	
	    	 loadDanhSachChat();
	    	 loadMailBox();
	    	 
	    	/*  $("#danhsachchat ").on('click' , '.list-group-item',  function  () {
	    		   $(this).find(".badge").html("");
	    		   var div = $(this) ;
    		 
	    	 }); */
	    	 $("#dschat").on("click" , function  () {
	    		 loadDanhSachChat();
	    	 }) ;
	    	 
	     }) ;
	     
	     
	     
	    	 
	    	   
	    
			  
				   
	   /*]]>*/
   
   </script>
    
    
    
    
    
    
    


<!-- <div class="cart-tab visible">		
  	  <a href="#" title="View your shopping cart" class="cart-link">
  	 
  	    <span id="count-cart" >CHAT</span>
  	  </a>
  	  <div style="text-align: right;" class="col-md-12" >
  	  <button type="button" id="tnmoi" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-envelope"></i></button>
   <button type="button"  id="dschat" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-list"></i></button>
		</div>
			<div class="cart" id="contenedor">
				
			  <div class="cart-items">
			   <div id="show-cart">
			    
         
         
         
         
         
         
         
         <ul class="list-group " id="danhsachchat">  
    
 
   
     

        
         </ul>
         
         
         
         
         
			    </div>
			  </div>@end .cart-items
		
			</div>@end .cart
	  </div>

 -->



 
 <div class="container">
 
 
 
 
 <div class="box box-success direct-chat direct-chat-success collapsed-box direct-chat-contacts-open" style="
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 300px;
    z-index: 9999;
">
            <div class="box-header with-border">
              <h3 class="box-title" id="chatvoi" >Hộp thoại</h3>

              <div class="box-tools pull-right">
                <span data-toggle="tooltip" id="end2" title="" class="badge bg-green countmsg" data-original-title=" Tin nhắn mới"></span>
                <button type="button"  id="end1" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">
                  <i class="fa fa-comments"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body " style="display: none;">
              <!-- Conversations are loaded here -->
              <div style="background: white;" class="direct-chat-messages msg_container_base">
                <!-- Message. Default to the left -->
                
                <!-- /.direct-chat-msg -->
              </div>
              <!--/.direct-chat-messages-->

              <!-- Contacts are loaded here -->
              <div class="direct-chat-contacts">
                <ul class="contacts-list " id="contacts-list">
                 
                  
                  
                  
                  
                  <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
              </div>
              <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer" style="display: none;">
             
                <div class="input-group">
                  <input id="btn-input" type="text" name="message" placeholder="Type Message ..." class="form-control"/>
                      <span class="input-group-btn">
                        <button  id="btn-chat" class="btn btn-success btn-sm btn-flat" >Send</button>
                      </span>
                </div>
             
            </div>
            <!-- /.box-footer-->
          </div>
          
 
 
 
 
 
 
 
<!--     <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
        <div class="col-xs-12 col-md-12">
        	<div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-comment"> </span> <span id="chatvoi">Chát với </span> </h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                    </div>
                </div>
                <div class="panel-body msg_container_base">
                    
                  
                  
                   
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder=" Nhập..." />
                        <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
                        </span>
                    </div>
                </div>
    		</div>
        </div>
    </div> -->
    
  
</div> 
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
    <!-- Logo -->
    <a href="/" style="text-decoration: none;" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b>Team</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications: style can be found in dropdown.less -->
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img th:src="${ session.USER_SESSION.anhgv == null }?'/UploadedFiles/no_img.jpg':'/upload/resize?url='+${session.USER_SESSION.anhgv}+'&amp;w=150'"   src="/Assets/admin2/dist/img/user2-160x160.jpg"  class="user-image" alt="User Image"/>
              <span  th:text="${ session.USER_SESSION.hogv  +' '+ session.USER_SESSION.tengv}" class="usernamejs hidden-xs">Alexander Pierce</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img th:src="${ session.USER_SESSION.anhgv == null }?'/UploadedFiles/no_img.jpg':'/upload/resize?url='+${session.USER_SESSION.anhgv}+'&amp;w=150'"   src="/Assets/admin2/dist/img/user2-160x160.jpg"  class="img-circle" alt="User Image"/>

                <p>
                  <th:block th:text="${  session.USER_SESSION.hogv }+${  session.USER_SESSION.tengv }"></th:block>
                 <th:block th:text="${  session.USER_SESSION.email }"></th:block>
                  <small th:text="${session.USER_SESSION.ngaysinh}"></small>
                </p>
              </li>

              <!-- Menu Body -->
            
              <!-- Menu Footer-->
             <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a th:href="@{/ManagerProfile}" class="btn btn-default btn-flat">Cập nhật</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">Thoát</a>
                </div>
              </li>

            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
         
        </ul>
      </div>
    </nav>
 

  </header>
</body>
</html>